{{define "root"}}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{block "title" .}}Home{{end}} - Quinn Slack</title>
			<link rel="stylesheet" type="text/css" href="{{asset "style.css"}}" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			{{block "head" .}}{{end}}
		</head>
		<body>
			<header id="header">
				<div class="container">
					<h1 id="logo"><a href="/">Quinn Slack</a></h1>
					<form id="search-form" method="get" action="/search">
						<input type="text" id="search" name="q" value="{{block "query" .}}{{end}}" placeholder="" spellcheck="false" aria-label="Query" />
						<button id="search-button" type="submit" aria-label="Search">Search</button>
					</form>
				</div>
			</header>
			<div id="page">
				<div class="container">
					{{block "content" .}}{{end}}
				</div>
			</div>
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-575760-5"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-575760-5');
			</script>
		</body>
	</html>
{{end}}
