/* GLOBAL */
:root {
  --breakpoint-width: 800px;
  --width: 900px;
  --spacing: 1rem;

  --text-color: #000000;
  --border-color: #e1e1d1;
  --body-bg: #fffff6;
  --link-color: #0000ff;
  --anchor-inline-bg: yellow;
  --anchor-inline-border-color: #eecc11;
}

@media (prefers-color-scheme: dark) {
  :root {
  --text-color: #fffff6;
  --border-color: #444466;
  --body-bg: #000018;
  --link-color: #66aaff;
  --anchor-inline-bg: yellow;
  --anchor-inline-border-color: #eecc11;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-size: 14px;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* LAYOUT */
.container {
  max-width: var(--width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.anchor-inline + .anchor-inline-link::before {
  content: "🔗";
  width: 1rem;
  height: 1rem;
}
.anchor-inline:target + .anchor-inline-link {
  background-color: var(--anchor-inline-bg);
  border: solid 1px var(--anchor-inline-border-color);
  display: inline-block;
  padding: 0.1rem;
  margin: -0.1rem;
}

@media (max-width: 800px /* == var(--breakpoint-width) */) {
  .visible-sm { display: unset; }
  .visible-lg { display: none; }
}
@media (min-width: 800px /* == var(--breakpoint-width) */) {
  .visible-sm { display: none; }
  .visible-lg { display: unset; }
}

/* HEADER */
#header {
  background-color: var(--header-bg);
  border-bottom: solid 1px var(--border-color);
}
#header > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
#header #logo {
  margin: 0 var(--spacing) 0 0;
  font-size: 1.4rem;
  white-space: nowrap;
}
#header #logo a {
  text-decoration: none;
  padding: 0.25rem 0.25rem 0.25rem 0;
  margin: -0.25rem -0.25rem -0.25rem 0;
}
#header a {
  color: var(--text-color);
}

/* SEARCH FORM */
#search-form {
  display: flex;
  flex: 0 1 auto;
  margin-bottom: 0;
}
#search, #search-button {
  padding: 0.325rem;
}
#search {
  -webkit-appearance: textfield;
  color: var(--text-color);
  border: solid 1px var(--border-color);
  border-radius: 0;
  background-color: var(--body-bg);
  flex: 1 0 7rem;
  width: auto;
  min-width: 5rem;
  max-width: 12rem;
}
#search-button {
  margin-left: 0.125rem;
  background-color: transparent;
  border: solid 1px var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  flex: 0 auto;
}
#search-button:hover, #search-button:active, #search-button:focus {
  color: var(--link-color);
}

/* DOCUMENT */
@media (min-width: 800px /* == var(--breakpoint-width) */) {
	#page > .container {
		display: flex;
		flex-direction: row-reverse;
	}
	#index {
		flex: 1 1 calc(var(--width) * 0.15);
		position: sticky;
		top: 0;
		max-height: 100vh;
		padding: var(--spacing);
	}
}

#index {
	font-size: 90%;
	line-height: 24px;
	margin-top: 2rem;
	overflow-y: auto;
}
#index > h3.version {
	font-weight: bold;
	font-size: 100%;
	opacity: 0.7;
	margin-bottom: 0;
}
#index > h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}
#index .on-this-page {
  opacity: 0.8;
}
#index > ul {
	margin-top: 0.125rem;
	padding-left: var(--spacing);
}
#index > ul ul {
	padding-left: 20px;
}
#index > ul li {
	list-style: none;
}
#index > ul li::before {
	margin-left: -0.8rem;
	content: "\203A\00a0";
}

#content {
	flex: 8 4;
	padding-top: var(--spacing);
	padding-bottom: calc(3*var(--spacing));
}
#content > .breadcrumbs {
	font-size: 90%;
}
#content > .breadcrumbs {
	margin-bottom: 0.75rem;
}
#content > .breadcrumbs > .active {
	color: inherit;
	opacity: 0.8;
}

.page-btn {
	display: inline-block;
	font-size: 90%;
	color: inherit;
	margin-bottom: var(--spacing);
	padding: 0.2rem 0.4rem 0.1rem;
}

/* MARKDOWN */
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  tab-size: 2;
}
.markdown-body blockquote {
  border-left: solid 5px var(--border-color);
  margin-left: var(--spacing);
  padding-left: var(--spacing);
}
.markdown-body hr {
  border: solid 1px var(--border-color);
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;

  /** For .anchor. **/
  position: relative;
  z-index: 1;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
  opacity: 1;
}
.markdown-body .anchor {
  position: relative;
  opacity: 0;
}
.markdown-body .anchor::before {
  content: "#";
  position: absolute;
  padding-left: 10px;
  padding-right: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 16px;
}
.markdown-body .anchor:focus {
  outline: none;
}

/* SEARCH RESULT */
.search-result {
}
.search-result h1, .search-result h2, .search-result h3 {
  font-weight: normal;
}
.search-result .document-results, .search-result .section-results {
  list-style-type: none;
  padding-left: 0;
}
.search-result .document-result {
  margin-bottom: 1.5rem;
}
.search-result .document-result-title {
  font-size: 1.35rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.search-result .document-result-path {
  color: green;
  font-size: 0.8rem;
}
.search-result .section-results {
}
.search-result .section-result {
  margin: 0.25rem 0;
}
.search-result .section-result-title {
  white-space: nowrap;
  font-size: unset;
  margin: 0;
}
.search-result .section-result-title::after {
  padding-right: 0.25rem;
}
.search-result .excerpt {
  display: inline-block;
  margin: 0;
}
